<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/nloginternalLog.txt"
      internalLogLevel="Warn"
      >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets async="true">
        <!--<target name="file" xsi:type="File" fileName="${basedir}/log.txt" />-->
        <!--<target name="asyncFile" xsi:type="AsyncWrapper">-->
            <!--<target xsi:type="Trace" name="VisualStudioConsole" layout="${longdate} ${logger} ${message}"/>-->
            <target xsi:type="File" name="traceLogToFile" concurrentWrites="true" networkWrites="true" concurrentWriteAttemptDelay="10" concurrentWriteAttempts="10" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/${shortdate}_${windows-identity:userName=true:domain=false}_${level}.log" createDirs="true" keepFileOpen="true" />
        <target xsi:type="File" name="WarnLogToFile" concurrentWrites="true" networkWrites="true" concurrentWriteAttemptDelay="10" concurrentWriteAttempts="10" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/${shortdate}_${windows-identity:userName=true:domain=false}_${level}.log" createDirs="true" keepFileOpen="true" />
        <target xsi:type="File" name="ErrorLogToFile" concurrentWrites="true" networkWrites="true" concurrentWriteAttemptDelay="10" concurrentWriteAttempts="10" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/${shortdate}_${windows-identity:userName=true:domain=false}_${level}.log" createDirs="true" keepFileOpen="true" />
        <!--</target>-->
    </targets>

    <rules>
        <logger name="*" level="Trace" writeTo="traceLogToFile" />
        <logger name="*" level="Warn" writeTo="WarnLogToFile" />
        <!--<logger name="*" minlevel="Trace" writeTo="VisualStudioConsole" />-->
        <logger name="*" level="Error" writeTo="ErrorLogToFile" />
    </rules>
</nlog>
